BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 2

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false