BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never

BinPackArguments: false
BinPackParameters: false

PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: true

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
