# Build
/build/
.xmake/
compile_commands.json

# Compiled objects & binaries
*.o
*.ll
*.a
*.so
*.dylib
xlang
hello
examples/hello
examples/math

# Runtime build cache
/runtime/runtime.o
/runtime/*.ll

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*~

# Debug
*.dSYM/
